<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Rot Buddy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="loadingScreen" class="loading-overlay hidden">
        <!-- <div class="loading-bar-container">
            <div class="loading-bar"></div>
        </div> -->
        <h1 class="waiting">Your video is being generated currently.</h1>
        <img src="{{ url_for('static', filename='skull_loading.gif') }}" alt="Loading" class="skull">
        <!-- <video autoplay="True" loop controls>
            <source src="{{ url_for('static', filename="loading_videos/1.mp4") }}" type="video/mp4">
            Your browser does not support the video tag.
        </video> -->
    </div>

    <div class="bg">
        <img src="{{ url_for('static', filename = 'background_images/brainrotbackground.jpg') }}" alt="Background Image">
        <img src="{{ url_for('static', filename = 'background_images/brainrotbackground.jpg') }}" alt="Background Image">
    </div>

    <div class="container">
        <h1>Brain Rot Buddy</h3>
        <p class="text-center">Brain Rot (or brainrot) is a slang term used as psychological descriptor for the spending of excessive amounts of time spent online, with possible deterioration in cognitive functioning and attention span.</p>
        
        <br>
        <form action="/video" method="post">
            
            <select autocomplete="off" id="videoType" name="videoType" onchange="showFields()" required>
                <option selected disabled value="">Choose a video type</option>
                <option value="reddit">Reddit Story</option>
                <option value="wyr">Would You Rather</option>
            </select>
            
            <div id="redditFields" class="hidden">
                <input autocomplete="off" autofocus id="topic" name='topic' placeholder="Your topic of interest" type="text">
                <select autocomplete="off" name="reddit_bg" required>
                    <option selected value="mc_pk">Minecraft Parkour</option>
                    <option value="gta">GTA Car</option>
                    <option value="soap">Satifying Soap Cutting</option>
                </select>
                <select autocomplete="off" name="reddit_voice" required>
                    <option selected value="en_us_006">US Male 1</option>
                    <option value="en_us_010">US Male 2</option>
                    <option value="en_us_001">US Female 1</option>
                </select>
            </div>
            
            <div id="wyrFields" class="hidden">
                <div class="wyr-option">
                    <input autocomplete="off" type="text" name="wyr_option_1" placeholder="Option 1">
                    <input autocomplete="off" type="text" name="wyr_option_2" placeholder="Option 2">
                </div>
                <button type="button" onclick="addWyrOptions()">Add more options</button>
            </div>
            <button id="submitButton" type="submit">Generate</button>
        </form>

        <script>
            let wyrOptionCount = 1; // Start with 1 because you have 1 initial option pair
        
            function showFields() {
                const videoType = document.getElementById('videoType').value;
        
                document.getElementById('redditFields').classList.add('hidden');
                document.getElementById('wyrFields').classList.add('hidden');
        
                if (videoType === "reddit") {
                    document.getElementById("redditFields").classList.remove("hidden");
                }
                if (videoType === "wyr") {
                    document.getElementById("wyrFields").classList.remove("hidden");
                }
            }
            

            document.getElementById('submitButton').addEventListener('click', function() {
                document.getElementById('loadingScreen').style.display = 'flex'; // Show the loading screen
            });
        
            function addWyrOptions() {
                const maxOptions = 8;
        
                if (wyrOptionCount < maxOptions) {
                    const wyrFields = document.getElementById('wyrFields');
                    const newOptions = document.createElement('div');
                    newOptions.classList.add('wyr-option');
                    newOptions.innerHTML = `
                        <input autocomplete="off" type="text" name="wyr_option_1" placeholder="Option 1">
                        <input autocomplete="off" type="text" name="wyr_option_2" placeholder="Option 2">
                    `;
                    wyrFields.insertBefore(newOptions, wyrFields.children[wyrFields.children.length - 1]);
        
                    wyrOptionCount += 1;
        
                    if (wyrOptionCount >= maxOptions) {
                        document.querySelector('button[onclick="addWyrOptions()"]').disabled = true;
                    }
                }
            }
        </script>        
    </div>
</body>
</html>